@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --black: #2c2c54;
    --orange: #fa9911;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/home-bg-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.result {
    padding: 100px;
    border: 10px solid var(--black);
    border-radius: 20px;
}

.result h1 {
    padding-bottom: 20px;
}



